@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@font-face {
  font-family: 'chantal_lightregular';
  src: url('./../../../fonts/chantal_light-webfont.woff2') format('woff2'),
  url('./../../../fonts/chantal_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}